.txt {
	font-family: var(--font-notoSans);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;
	color: #333;

	a {
		color: inherit;
	}

	&.txt-nav {
		font-family: var(--font-notoSerif);
		color: #888;
	}

	&.on {
		color: orange;
	}
}
