.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #222;
	z-index: 3;

	&.whiteHeader {
		background: #fff;
	}

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1200px;
		height: 56px;
		padding: 0 15px;
		margin: 0 auto;

		.logo {
			font-size: 25px;
			color: #fff;

			&.blackLogo {
				color: #222;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.header {
		.inner {
			width: 100%;
		}
	}
}
